@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

:root {
    /* Color choices */
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent1-color: #ffffff;
    --accent2-color: #000000;

    /* Chosen font(s) */
    --heading-font: "Oswald";
    --paragraph-font: Roboto, Helvetica, sans-serif;

}

